<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mainpic/cateIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,250},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>mainpic/collectionsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,323},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>mainpic/dailyIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,151},{72,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,75}</string>
			</dict>
			<key>mainpic/libraryIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,78},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>mainpic/myPuzzleIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,78},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>mainpic/reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,2},{78,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>
			<key>mainpic/mainSettingsIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,2},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>mainpic/puzzlecoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,230},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>mainpic/toggle-back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,153},{153,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,93}</string>
			</dict>
			<key>mainpic/popUpContentBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{123,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,147}</string>
			</dict>
			<key>mainpic/addicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,250},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mainpic.png</string>
			<key>realTextureFileName</key>
			<string>mainpic.png</string>
			<key>size</key>
			<string>{285,385}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>285</integer>
			<key>height</key>
			<integer>385</integer>
		</dict>
	</dict>
</plist>